.container {
    display: flex;
}

.content1 {
    width: 600px;
    text-align: center;
    margin-top: 50px;
    color:#E8EFFD;

}

.content1 b {
    font-size: 48px;
}

.content1 p {
    margin-left: 200px;
}

.content2 {
    width: 200px;
    height: 650px;
    position: absolute;
    margin-left: 500px;

}

.content2 p {
    position: relative;
    bottom: 250px;
    left: 619px;
}

.item1 {
    background-color:#FFFFFFE5;
    width: 500px;
    height: 500px;
    margin-top: 140px;
    margin-left: 120px;
    border-radius: 2px;
}
form .col-md-6 .form-control {
    border-radius: 6px;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
}
form .col-md-6 .form-label {
   
    margin-left: 30px;
}
form .col-12 .form-control {
    border-radius: 6px;
    width: 410px;
    margin-left: 50px;
}

form .col-12 .btn-primary{
    margin-left: 50px;
}
form .col-12 .form-label {
    margin-left: 50px;
}
form .col-md-6  span {
 color: red;
 font-size: 10px;
    margin-left: 30px;
}
