.container1 {
    height: 60px;
    display: flex;
    justify-items: center;
    border-bottom: 1px solid #FAFAFB;
}

.container2 {
    background-color: #FAFAFB;
    height: 660px;
    display: flex;
    gap: 50px;
}

.container2 .btn {
    background-color: #D7EDFF;
    border-radius: 6px;
    width: 140px;
    border: none;
    color: #0E73F6;
    display: flex;
    justify-items: center;
}

.container2 .content1 {
    margin-top: 65px;
    margin-left: 20px;
}

.container2 .content2 .item1 {
    display: flex;
    gap: 400px;
    margin-top: 40px;
}

.container2 .content2 .item2 {
    display: flex;
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    padding-top: 25px;
    padding-left: 30px;
}

.container2 .content2 .item2 .btn-user {
    height: 20px;
    color: #6941C6;
    border-radius: 15.68px;
    border: none;
}

.container2 .content2 .item3 {
    position: absolute;
    margin-left: 650px;
}

.container2 .content2 .item3 span {
    position: relative;
    right: 20px;
}

.table {
    width: 960px;

}

.name-column-td {
    width: 350px;
}

td {
    padding-left: 10px;
    background-color: #FFFFFF;
}

.td-1 {
    background-color: #FAFAFB;
}

.span {
    color: #667085;
}

.btn-b {
    color: #6941C6;
    border-radius: 15.68px;
    border: none;
}
.container2 .content2 {
    display: block;
}
.btn1{
    border-radius: 5px;
    border: none;
    height: 35px;
    background-color:#D0D5DD ;
}
.btn2{
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 25px;
    border: none;
}
.btn3{
    border-radius: 5px;
    border: none;
    height: 35px;
    background-color:#D0D5DD ;
}